<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>


<style>
    #toast-container {
   top: auto !important;
  /* right: auto !important; */
  bottom: 10%;
  left:auto !important;
}
</style>

<body>
    <%- include('./partials/nav.ejs')%>
   
    <div class="container item-container">
        
      <ul class="collection with-header">
        <% if (items.length>0) {%>
            <% items.forEach(item => { %>

                <li class="collection-item"><div><a href="/items/<%= item._id%>"><%=item.name%></a>
                    price: $<%=item.price%><div class="secondary-content"><i class="material-icons prefix" data-id="<%= item._id%>" style="cursor:pointer">delete</i>
                        <i class="material-icons modal-trigger" style="cursor:pointer" href="#edit_item_modal"
                            data-id="<%= item._id%>">edit</i></div></div></li>
            <% });%>
            <%  }else{%>
            <li>There are no items</li>
            <% }%> 
      </ul>
       
    </div>
    <div id="edit_item_modal" class="modal edit-item">
        <div class="modal-content">
            <h4>Edit Item</h4>
            <form id="edit_form" action="">
                <input type="text" name="name" placeholder="item name">
                <input type="number" name="price" placeholder="item number">
                <button class="btn">Update</button>
                <p class="error"></p>
            </form>
        </div>

    </div>
    <script src="/materialize.js"></script>

    <script>
        var updateId;
        const itemContainer = document.querySelector('.item-container');
      
         console.log(itemContainer)
        edit_form.onsubmit = async (e) => {
            e.preventDefault();
            console.log(edit_form)
            let data = new FormData(edit_form);
            for (var pair of data.entries()) {
                console.log(pair[0] + ', ' + pair[1]);
            }
            let response = await fetch(`/items/${updateId}`, {
                method: 'PUT',
                headers: new Headers({
                    'Content-type': 'application/x-www-form-urlencoded; charset=UTF-8'
                })
                ,
                body: new URLSearchParams(data)
            });

            let result = await response.json();
            edit_form.reset();
            var instance = M.Modal.getInstance(edit_item_modal)
            instance.close();
            window.location.href = '/items';
            M.toast({html: result.msg})
        };
        // editForm.addEventListener('submit', e => {
        //     e.preventDefault()
        //     const item = {
        //         name: editForm.name.value,
        //         price: editForm.price.value,
        //     }
        //     for (var propName in item) {
        //         if (item[propName] === null || item[propName] === undefined || item[propName] === "") {
        //             delete item[propName];
        //         }
        //     }
        //     console.log(item)
        //     let form_data = new FormData();

        //     for (var key in item) {
        //         console.log(key, item[key])
        //         form_data.append(key, item[key]);
        //     }
        //     console.log('form_data', form_data)
        //     const endpoint = `/items/${updateId}`;
        //     fetch(endpoint, {
        //         method: 'PUT',
        //         headers: {
        //             'Content-Type': 'application/x-www-form-urlencoded'
        //         },
        //         body: form_data,
        //     }).then(res => res.json())
        //         .then(data => {
        //             // window.location.href = data.redirect
        //         })
        //         .catch(err => console.log(err))
        // })
        itemContainer.addEventListener('click', e => {
            console.log('e', e)
            console.log('e target', e.target.textContent)
            if (e.target.textContent === "edit") {
                updateId = e.target.getAttribute('data-id');
                console.log('updateId', updateId)
            }
            if (e.target.textContent === "delete") {
                const id = e.target.getAttribute('data-id');
                console.log(id)
                const endpoint = `/items/${id}`;
                fetch(endpoint, {
                    method: 'DELETE'
                }).then(res => res.json())
                    .then(data => window.location.href = data.redirect)
                    .catch(err => console.log(err))
            }
        })
        console.log('M', M)
        document.addEventListener('DOMContentLoaded', function () {
            var modals = document.querySelectorAll('.modal');
            M.Modal.init(modals);
        });
    </script>




</body>

</html>